body{
	background-color: #f2f7ff;
}

#transparent{
	background-color: transparent;
}

.grid-container{
	padding-left: 0;
	padding-right: 0;
	max-width: 150rem;
}

.title-photo-container{
	height: 100vh;

	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding-left:0;
	padding-right:0;
}

.photo-container{
	height: 50vh;

	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding-left:0;
	padding-right:0;
}

#photo-title{
	color: #f2f7ff;
	font-family: 'Oswald';
	text-shadow: 2px 2px #005484;
}

#about-photo{
	background: url("https://s3.us-east-2.amazonaws.com/cobaltphotos/Homepage/businesschart.jpg") no-repeat center center fixed;
}

#projects-photo{
	background: url("https://s3.us-east-2.amazonaws.com/cobaltphotos/Homepage/agenda-analysis-business-990818.jpg") no-repeat center center fixed;
}

#companies-photo{
	background: url("https://s3.us-east-2.amazonaws.com/cobaltphotos/Homepage/electronics-furniture-hands-953216.jpg") no-repeat center center fixed;
}

#description{
	margin: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

#description-text{
	font-family: 'Roboto';
}