<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cobalt Intelligence</title>
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/app.css">

    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <!--===============================================================================================-->

  </head>

    <body>
        <!-- Start Top Bar -->
      <div class="top-bar" id="top-bar-header">
          <div class="top-bar-left">
            <ul class="menu" id="top-bar-header">
              <li class="menu-text"> <a href="index.html"><img src="https://s3.us-east-2.amazonaws.com/cobaltphotos/Homepage/cobalt.png" width="100"></a></li>
            </ul>
          </div>

          <div class="top-bar-right">
            <ul class="menu" id = "top-bar-header">
              <li><a id="top-bar-text" href="mission.html">Mission</a></li>
              <li><a id="top-bar-text" href="index.html">Team</a></li>
              <li><a id="top-bar-text" href="partners.html">Partners</a></li>
              <li><a id="top-bar-text" href="careers.html">Careers</a></li>
            </ul>
          </div>
        </div>
        <!-- End Top Bar -->

        <article class="grid-container">
            <div class="grid-x grid-margin-x align-middle align-center photo-container" id = "companies-photo">
                <h1 id= "photo-title">Team </h1>
            </div>
            <div class="grid-x grid-margin-x medium-up-3 medium-up-3" id = "description">

                <div class="cell">
                  <img class="thumbnail" src="https://placehold.it/550x550">
                </div>
                <div class="cell">
                  <img class="thumbnail" src="https://placehold.it/550x550">
                </div>
                <div class="cell">
                  <img class="thumbnail" src="https://placehold.it/550x550">
                </div>
                <div class="cell">
                  <img class="thumbnail" src="https://placehold.it/550x550">
                </div>
                <div class="cell">
                  <img class="thumbnail" src="https://placehold.it/550x550">
                </div>
                <div class="cell">
                  <img class="thumbnail" src="https://placehold.it/550x550">
                </div>
                <div class="cell">
                  <img class="thumbnail" src="https://placehold.it/550x550">
                </div>
                <div class="cell">
                  <img class="thumbnail" src="https://placehold.it/550x550">
                </div>
                <div class="cell">
                  <img class="thumbnail" src="https://placehold.it/550x550">
                </div>
            </div>
        <hr>

        </article>
        <article class="grid-container">
          <div class="row column" id = "description">
            <h5> Contact Us </h5>
     <!--        <ul class="menu">
              <li><a>601 South Palafox Street <br> Pensacola, FL 32502</a></li>
              <li><a>Email: info@cobaltintel.com </a></li>
              <li><a>©2017 Cobalt Intelligence, All Rights Reserved</a></li>
            </ul>
          </div> -->
        </article>
    </body>
</html>
